{% extends "admin/base.html" %}
{% load staticfiles%}

{% block extrastyle %}
<style>
@media only screen and (max-width: 993px) {
  .content {
    flex-direction: column;}
  .left-panel {
    order: 1;}
  .right-panel {
    display: block;
    order: 2;
    margin-bottom: 2rem;} }
</style>
{% endblock %}

{% block favicon %}<link href="{% static 'sh_logo.png' %}" rel="shortcut icon">{% endblock %}
{% block title %}Lunch Hobe{% endblock %}


{% block userphoto %}
    <a href="#"><img class="circle" src="{% static 'sh_logo.png' %}"></a>
{% endblock %}


{% block back_link %}<li class="no-padding"><a class="collapsible-header" href="{{ site_url }}"><i class="material-icons">home</i>LunchHobe</a></li>{% endblock %}


{% block page_title %}
    <a href="/" class="page-title">LunchHobe</a> <p hidden>{% block brand-logo %}Home{% endblock %}</p>
{% endblock %}