{% extends "admin/base.html" %}

{% block userphoto %}
    <a href="#"><img class="circle" src="https://scontent.fdac5-1.fna.fbcdn.net/v/t34.0-12/20813991_10212264130771170_162247932_n.png?oh=b22271cc5d66f6de543c633eeb92858d&oe=5993555B"></a>
{% endblock %}


{% block back_link %}<li class="no-padding"><a class="collapsible-header" href="{{ site_url }}"><i class="material-icons">home</i>LunchHobe</a></li>{% endblock %}


{% block page_title %}
    <a href="/" class="page-title">LunchHobe</a> <p hidden>{% block brand-logo %}Home{% endblock %}</p>
{% endblock %}